/**
 * All your applications style variables and mixin fall in here
 */

@white: #fefefe;
@black: #000000;
@red: #FF1744;
@pink: #E91E63;
@yellow: #FFEB3B;
@orange: #FF5722;
@green: #00E676;
@blue: #2196F3;
@light-blue: #03A9F4;
@indigo: #3F51B5;
@purple: #673AB7;
@grey: #232323;
@light-grey: #ededed;
@width4: 100%;
@height0: 100%;
@iterations: 5;
