include ../includes/header

.index(layout="row" ng-cloak layout-align="center center")
  // Spacing purposes
  span(flex)

  div(layout="column" flex="40" flex-sm="90" flex-md="60")
    md-content.border-round(flex layout-align="center center" layout-wrap class="auto-scroll")
      md-toolbar.md-warn(ng-show="response.error")
        .md-toolbar-tools
          h2.md-flex {{ response.error }}
      md-card.border-round(flex layout-padding)
        form(name="document" ng-submit="submitDocument()" novalidate)
          .container(md-block flex layout="row")
            div(flex=10 style="text-align: center")
              i.material-icons.md-24.icon-padding-top insert_drive_file
            div(flex=90 layout="column")
              md-input-container(md-block)
                label Content of your document
                textarea(ng-model="document.content" ng-required="true" columns="1" md-maxlength="150" rows="5")
                  | {{ document.content }}
              div(flex)
                md-checkbox(ng-model="document.isPrivate") Is Private: {{ document.isPrivate }}
              div(flex layout-padding)

          .container(md-block flex layout="row")
            button(flex type="submit").md-button.md-accent.md-raised.md-hue-2 {{ buttonTitle }}
            button(flex ui-sref="dashboard({id: user.username})").md-button.md-warn.md-raised.md-hue-3 Cancel

  // Spacing purposes
  span(flex)
