header.header
  h1#app-title {{ appTitle }}
  input.new-todo(placeholder='{{ appTitle }}' autofocus)

// This section should be hidden by default and shown when there are todos
section.main(ui-view="todolist")
include ../includes/todoapp-footer

