.dashboard.header-spacing(flex layout="row" ng-controller="headerController")
  md-toolbar.md-accent.md-hue-2.md-whiteframe-12dp(layout="row")
    .md-toolbar-tools
      //- ui-sref-opts="{inherit: true, notify: true}"
      a(ui-sref="dashboard({id: user.username})")
        | &nbsp;Documents Management System

      span(flex=5)
      div(flex flex-md=50 hide-sm hide-md layout)
        .container(md-block flex layout="row")
            div(flex=15 style="margin-top: 0.5em")
              i.material-icons.md-36.mini-padding.bold search
            form(flex="90" name="search" novalidate)
              md-input-container(md-block)
                label &nbsp;
                input.margin-xs(type="text" ng-model="search.term" ng-required="true" placeholder="search for a document" ng-keypress="submitSearchRequest($event)")

      span(flex hide-sm)
      div(flex=10 flex-sm=25 layout)
        a(flex ui-sref="account({id: user.username})").md-accent.md-icon-button
          i.white.material-icons.md-36.padding-xs face

        a(flex href="#/" ng-click="logoutUser()").md-accent.md-icon-button
          i.white.material-icons.md-36.padding-xs exit_to_app
