title Angularjs-powered Todo App

base(href="/")
// Site necessary meta tags
meta(charset='utf-8')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
meta(name='description', content='')
meta(name='keywords', content='')
meta(http-equiv='cleartype', content='on')

//- Favicons
//- Place favicon.ico and apple-touch-icon.png in the root directory
//- link(rel="shortcut icon" type="image/png" href="")
//- link(rel="shortcut icon" type="image/x-icon" href="")

// Your stylesheets
link(rel='stylesheet', href='css/application.css')
script(src='js/application.js')
