// This footer should hidden by default and shown when there are todos
footer.footer
  // This should be `0 items left` by default
  span.todo-count
    strong 0
    |  item left

  // Remove this if you don't implement routing
  ul.filters
    li
      a.selected(href='#/') All
    li
      a(href='#/active') Active
    li
      a(href='#/completed') Completed

  // Hidden if no completed items are left ↓
  button.clear-completed Clear completed
